* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    font-family:'Poppins',sans-serif;
    background-color: #e3dab9;
}

header {
    background-image: linear-gradient(to right top, #8d6e2f, #d7a450, #dfca60);
    padding: 10px;
}

.logo {
    font-size: 2em;
    color: rgb(214, 102, 102);
    font-weight: 900;
    display: flex;
    align-items: flex-start;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    gap: 80px;
    list-style: none;
}

.nav-menu a {
    color: #672c03;
    text-decoration-line: none;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    transition:0.3s;
}

.nav-menu a:hover {
    color: white;
}


/*----------------- home section------------------------- */
#home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    text-align: center;
}

.home-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-info h2 {

    background: linear-gradient(to bottom, #031731, #c75803);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 800;
}

/* Profile image */
.profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #c75803;
    margin: 20px 0;
}


.home-info h3 {
    color: rgb(22, 13, 95);
    font-size: 25px;
}


#main-content {
    padding: 60px 20px;
    text-align: center;
}

#welcome h2 {
    margin-bottom: 15px;
    color: #653515;
    font-size: 28px;
    font-weight: 800;
}

#welcome p {
    max-width: 600px;
    margin: 0 auto;
    color: #555;
    line-height: 1.6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* ---------------------ABOUT PAGE---------------------- */

#about {

    color: rgb(74, 72, 72);
    padding: 80px 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    flex-wrap: wrap;
    min-height: 80vh;
}

#about img {
    width: 28vw;
    min-width: 260px;
    border-radius: 18px;
    box-shadow: 0 0 25px rgba(209, 130, 28, 0.25);
}

.about-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.8em;
    max-width: 600px;
}


.about-info h2 {
    margin-bottom: 15px;
    font-weight: 800;
    font-size: 40px;
}

.about-box span {
    background: linear-gradient(to bottom, #062752, #b55d1a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-box p {
    opacity: 0.85;
    line-height: 1.6;
    padding: 10px;
}

.skills-title {
    font-size: 30px;
    font-weight: 800;
    margin-top: 35px;
    color: #7e491e;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    gap: 18px;
    list-style: none;
}

.skills li {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 10px;
    gap: 6px;
    border: 2px solid #030322;
    border-radius: 15px;
    background-color: #d7a450;
    color: #030322;
    transition: 0.5s;
}
.skills li:hover {
    transform: translateY(-6px) scale(1.05);
}






/* -----------------------Project Section---------------------- */

#projects {
    padding: 70px 10%;
    background: linear-gradient(to bottom, #ffffff, #f1f3f7);
    border-radius: 45px;
}

.project-title {
    text-align: center;
    margin-bottom: 50px;
}

.project-title h2 {
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 1px;
    background: linear-gradient(to bottom, #062752, #b55d1a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.project-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
.project-card {
    flex: 1 1 320px;
    max-width: 300px;
    padding: 18px;
    border-radius: 14px;
    background: white;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}

.project-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.18);
}



.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 12px;
    border-radius: 10px;
}


.project-card h3 {
    font-weight: 800;
    font-size: 25px;
    margin-bottom: 8px;
    background: linear-gradient(to top, #c38e14, #563709);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-card p {
    font-size: 14px;
    line-height: 1.6;
    color: #555;
}

.project-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 7px 16px;
    font-size: 14px;
    text-decoration: none;
    color: white;
    background: #5b4b69;
    border-radius: 6px;
    transition: 0.3s;
}

.project-btn:hover {
    background: #281c01;
}




/* --------------Service section------------------- */

#services {
    padding: 60px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#services h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 30px;
    background: linear-gradient(to bottom, #062752, #b55d1a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#services article {
    width: 100%;
    min-height: 250px;
    max-width: 800px;
    margin: 20px 0;
    padding: 30px;
    border-radius: 12px;
    border-left: 8px solid #4f2304;
    box-shadow: #794f0b 0 4px 15px;
    background-color: #c75803;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    transition: 0.3s ease;
}

#services article:hover {
    transform: translateY(-6px);
}

#services article img {
    width: 200px;
    height: auto;

}

#services h3 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

#services p {

    color: #030322;
    font-style: italic;
    font-size: 17px;
    line-height: 1.6;
}

/* ------------------Contact page---------------- */

#contact {
    padding: 70px 10%;
    background:linear-gradient(to bottom,#f7f9fc,#eef2f7);
}

#contact h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 900;
    background: linear-gradient(to bottom, #062752, #b55d1a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.contact-form {
    max-width: 500px;
    margin: auto;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 8px;
    position: relative;
    background: white;
}



.form-title {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 15px;
    font-weight: bold;
    font-style: italic;
    color: #062752;
    background-color: #ffffff;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: 600;
}

.form-group input,
.form-group textarea {
    padding: 8px;
    border: 1px solid #aaa;
    border-radius: 4px;
}


.form-group input[type="submit"] {
    background-color: #4f2304;
    color: white;
    border: none;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #c75803;
}


.contact-body {
    background: linear-gradient(to bottom, #f7f9fc, #eef2f7);
}


/*--------------- Footer-------------------- */
footer {
    background: #bb8f3d;
    color: rgb(57, 56, 56);
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}